ion-content{
    --background:white;
}

ion-header{
    position: relative;
    --background:linear-gradient(#ccdce0,#80ff72);
}
ion-toolbar{
    --ion-background-color:linear-gradient(#ccdce0,#ffffff);
}
ion-title{
    font-size: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: lighter;
    color: rgb(14, 14, 14);   
}
ion-item{
    --ion-item-background: #f7f7f7;
    text-align: center;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
    --min-height: 35px;
    margin-bottom: 10px;
}
ion-icon {
    color: rgb(7, 161, 84);
    }
