<ion-header>
  <ion-toolbar>
    <ion-title>Bois</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/slider/guid/bois.png" />
    <ion-card-header>
      <ion-card-subtitle>Encombrants</ion-card-subtitle>
      <ion-card-title>Bois</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Le bois est valorisé par nos partenaires
      comme combustible dans
      une unité de cogénération
      (production d’électricité
      et de chaleur). 

      <strong>Nous nous occupos de :
        <br>
        • gros objets constitués en grande
        partie de bois ou de contreplaqué
        <br>
        • portes et châssis sans vitre
        <br>
        • planches et palettes
        <br>
        • sciures et copeaux non souillés
        <br>
        • souches sans terre de maximum
        50 cm de diamètre
        <br>
        • bois noircis par le feu parfaitement
        éteints et froids
        <br>
        • troncs et branches d’un diamètre
        supérieur à 8 cm et de maximum
        1 mètre de long. </strong>
        <br><br>
        <h2 style="color: green;"><strong>Consignes de tri</strong></h2>
        <ion-list>
          <li>
            <ul>
                <li>démonter ou casser les meubles ;</li>
                <li> couper les troncs ébranchés et les
                  branches en tronçons de 1 mètre de
                  long maximum.</li>
                 
            </ul>
        </li>
      </ion-list>
            </ion-card-content>
  </ion-card>
</ion-content>
