<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="guide"></ion-back-button>Guide de tri
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/slider/guid/pile.png" />
    <ion-card-header>
      <ion-card-subtitle>Déchets toxiques</ion-card-subtitle>
      <ion-card-title>Les piles</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Les piles sont reprises par Greenium. Elles sont triées par catégorie
      et traitées en fonction de leur
      composition chimique. Les métaux
      et matériaux de valeur sont retirés
      et réintégrés en tant que
      matières premières dans
      l’industrie.
      <br><br>
      <h2 style="color: green;"><strong>Consignes de tri</strong></h2>
      <ion-list>
        <li>
          <ul>
              <li>Garder les piles et accus au sec pour
                éviter qu’ils ne rouillent.</li>
              <li>Les déposer dans les fûts Bebat.
              </li>
                <li>Ou laisser nous les récupérer avec piles comme les piles alcalines et salines, piles boutons,
                  piles rechargeables
                  <br>
                  • Petits accus au plomb
                  <br>
                  • Batteries de GSM, ordinateurs
                  <br>
                  • Accus de vélos électriques</li>
          </ul>
      </li>
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
