ion-content {
    --background: white;
    overflow: hidden;
    --overflow: hidden;
}
.circle {  
    height: 600px;
    width: 600px;
    background: var(--ion-color-white);
    box-shadow: 0px 1px 10px white;
    border-radius: 50%;
  }
  .circle1 {
    margin-left: -200px;
    margin-top: -255px;
    margin-bottom: 10px;
  }
  
  .circle2 {
    margin-left: -15px;
    margin-top: -18px;
  }
  

  .n1{
    position: absolute;
    width: 20vw;
    font-size: 1rem;
    font-weight: 500;
    margin-top: -300px;
    margin-left: 500px;
    ion-icon {
        margin-left: -110px;
    }
  }
  .n2{
    position: absolute;
    width: 20vw;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-end;
    margin-top: -230px;
    margin-left: 500px;
  }
  .n3{
    position: absolute;
    width: 20vw;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-end;
    margin-top: -160px;
    margin-left: 500px;
    ion-icon {
        margin-left: -50px;
    }
  }
  .n4{
    position: absolute;
    width: 20vw;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-end;
    margin-top: -90px;
    margin-left: 500px;
  }
  .n5{
    position: absolute;
    width: 20vw;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-end;
    margin-top: 90px;
    margin-left: 500px;
  }
  h1{
    margin-left: 600px;
    margin-top: 60px;
    color: rgb(2, 59, 24);
  }
  .bb {
    color: rgb(7, 161, 84);
    }

    .but {
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 20px;
      letter-spacing: 4px;
      position: relative;
      background-color: #2dd36f;
      border: none;
      color: #fff;
      padding: 20px;
      width: 200px;
      text-align: center;
      transition-duration: 0.4s;
      overflow: hidden;
      box-shadow: 0 5px 15px #0bcc1b;
      border-radius: 4px;
      justify-content: space-between;
      padding: 15px;
      display: flex;
      
    }
    
    
    
    .but:hover {
      background: #fff;
      box-shadow: 0px 2px 10px 5px;
      color: #000;
      justify-content: space-between;
      padding: 15px;
      display: flex;
    }
    
    .but:after {
      content: "";
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s;
      justify-content: space-between;
      padding: 15px;
      display: flex;
    }
    
    .but:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s;
      justify-content: space-between;
      padding: 15px;
      display: flex;
    }
    
    .but:focus { outline:0; }