<ion-header>
  <ion-toolbar>
    <ion-title>Déchets organiques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/slider/guid/organique.png" />
    <ion-card-header>
      <ion-card-subtitle>Encombrants</ion-card-subtitle>
      <ion-card-title>Déchets organiques</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Vos déchets organiques sont
      biométhanisés et transformés en
      compost. Ce compost est utilisé en
      agriculture en Wallonie. Parce que
      nous voulons qu’il soit le plus pur
      possible pour préserver nos
      sols, c’est zéro plastique
      dans les déchets
      organiques.
      
      <strong> <br>Nous nous occupos de :
        <br>
        • De la terre
        <br>
        • restes de repas (viandes, os, poissons,
        céréales...)
        <br>
        • plantes et fleurs fannées
        <br>
        • litières biodégradables
        <br>
        • Tout ce qui est 100 % compostable
        </strong>
        <br><br>
        <h2 style="color: green;"><strong>Consignes de tri</strong></h2>
        <ion-list>
          <li>
            <ul>
                <li>enlever les emballages (barquettes en
                  plastique…) avant de jeter les aliments
                  périmés.
                  </li>
            </ul>
        </li>
      </ion-list>
            </ion-card-content>
  </ion-card>
</ion-content>
