<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="guide"></ion-back-button>Guide de tri
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/slider/guid/peinture.png" />
    <ion-card-header>
      <ion-card-subtitle>Déchets toxiques</ion-card-subtitle>
      <ion-card-title>Les peintures et les vernis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Les déchets des ménages à caractère
      dangereux sont triés en 2 catégories.
      <br><br>
     <strong> 1. Déchets spéciaux des ménages (DSM)</strong>
      <br>
• radiographies
<br>
• extincteurs
<br>
• restes de peinture
<br>
• batteries de voiture
<br>
• résidus de solvants, pesticides 
<br><br>
     <strong> 2. Aérosols toxiques</strong>
     <br><br>
     <strong>3. Emballages métalliques toxiques vides</strong>
     <br>
• pots de peinture, de vernis…
vides et fermés
<br>Ces déchets sont collectés
par nous
pour être éliminés en toute sécurité.
          </ion-card-content>
  </ion-card>
</ion-content>
