<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="clear" href="../signup" color="success">Passer <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>

        <ion-slide>
            <img src="../../assets/slider/Ver.png"/>
            <h2><strong>Bienvenue</strong></h2>
            <p><strong>Voulez-vous vous débarasser de vos encombrants ? <br>
              Avec cette application, c'est désormais à votre portée en seulement quelques clics !</strong></p>
            <ion-progress-bar color="success" value="0.25"></ion-progress-bar>
        </ion-slide>

        <ion-slide>
          <img src="../../assets/slider/5.png" class="img2"/>
          <h2><strong>Les déchets</strong></h2>
          <p><strong>Peu importe le type ou la quantité de déchets,<br> 
            vous n'aurez plus de problème pour vous en débarasser</strong></p>
          <ion-progress-bar color="success" value="0.50"></ion-progress-bar> 
        </ion-slide>

        <ion-slide>
          <img src="../../assets/slider/3.png" class="img3"/>
          <h2><strong>Déchets toxiques</strong></h2>
          <p><strong>Contrairement à nos concurrents,<br> 
            les déchets toxiques ou radioactis ne nous font pas exception ! </strong></p>
          <ion-progress-bar color="success" value="0.75"></ion-progress-bar>
    </ion-slide>

        <ion-slide>
          <img src="../../assets/slider/4.png"/>
          <h2><strong>Prêt à commencer ?</strong></h2>
          <p><strong>Envie de louer un conteneur ?<br>
            Choissisez la taille souhaitée et commander la en quelques clics !</strong> </p>
              <ion-progress-bar color="success" value="1"></ion-progress-bar><br>
          <ion-button fill="clear" href="../signup" color="success">Commencer <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
    </ion-content>
  </ion-app>




  