<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>Paramètres
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content fullscreen>
    <ion-list>
      <ion-list-header>
      <strong>Déchets Toxiques</strong>
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/slider/guid/amiante.png">
        </ion-avatar>
        <ion-label>
          <ion-router-link color="tertiary" href="/tri">L'amiante</ion-router-link>
          <h3>Ne manipulez pas les déchets
            d’amiante sans précaution...</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/slider/guid/pile.png">
        </ion-avatar>
        <ion-label>
          <ion-router-link color="tertiary" href="/tri-pile">Les piles</ion-router-link>
          <h3>Les piles sont reprises par Greenium. Elles sont triées par catégorie
            et traitées en fonction de leur
            composition chimique...</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/slider/guid/peinture.png">
        </ion-avatar>
        <ion-label>
          <ion-router-link color="tertiary" href="/tri-peintures-vernis">Des peintures et des vernis</ion-router-link>
          <h3>Les déchets des ménages à caractère
            dangereux sont triés en 4 catégories...</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <strong>Encombrants</strong>
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/slider/guid/electro.jpg">
        </ion-avatar>
        <ion-label>
          <ion-router-link color="tertiary" href="/tri-electroniques">Appareils électroniques</ion-router-link>
          <h3>Un électro est un appareil muni d’un
            câble électrique, d’une fiche ou qui
            fonctionne sur batterie ou piles...</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/slider/guid/metal.png">
        </ion-avatar>
        <ion-label>
          <ion-router-link color="tertiary" href="/tri-metaux">Métaux</ion-router-link>
          <h3> Les métaux
            et matériaux de valeur sont retirés
            et réintégrés en tant que
            matières premières dans
            l’industrie...</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/slider/guid/organique.png">
        </ion-avatar>
        <ion-label>
          <ion-router-link color="tertiary" href="/tri-dechets-organiques">Déchets organiques</ion-router-link>
          <h3>Vos déchets organiques sont
            biométhanisés et transformés en
            compost...</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/slider/guid/bois.png">
        </ion-avatar>
        <ion-label>
          <ion-router-link color="tertiary" href="/tri-bois">Bois</ion-router-link>
          <h3>Le bois est valorisé par nos partenaires
            comme combustible dans
            une unité de cogénération
            (production d’électricité
            et de chaleur)...</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
