<body>

  <ion-app>
  
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="location"></ion-back-button>Location de container
        </ion-buttons>
      </ion-toolbar>
      </ion-header>
  
  <ion-content fullscreen>
  
  <ion-list>
  
  <ion-list-header>
  
  <h1>Déchets verts</h1>
  
  </ion-list-header>
  
  <ion-item>
  
  <ion-label>
  
  <h2>10 m³</h2>
  
  <h3>350 euros (max 1,5T)</h3>
  
  </ion-label>
  
  <ion-label>
  
  <h2>15 m³</h2>
  
  <h3>450 euros (max 3T)</h3>
  
  </ion-label>
  
  <ion-label>
  
  <h2>20 m³</h2>
  
  <h3>500 euros (max 4T)</h3>
  
  </ion-label>
  
  </ion-item>
  <ion-list-header>

    <h1>Bois</h1>
    
    </ion-list-header>
    
    <ion-item>
    
    <ion-label>
    
    <h2>10 m³</h2>
    
    <h3>450 euros</h3>
    
    </ion-label>
    
    <ion-label>
    
    <h2>15 m³</h2>
    
    <h3>550 euros</h3>
    
    </ion-label>
    
    <ion-label>
    
    <h2>20 m³</h2>
    
    <h3>650 euros</h3>
    
    </ion-label>
    
    </ion-item>
  <ion-list-header>

      <h1>Métaux</h1>
      
  </ion-list-header>
      
      <ion-item>
      
      <ion-label>
      
      <h2>10 m³</h2>
      
      <h3>150 euros</h3>
      
      </ion-label>
      
      <ion-label>
      
      <h2>15 m³</h2>
      
      <h3>100 euros</h3>
      
      </ion-label>
      
      <ion-label>
      
      <h2>20 m³</h2>
      
      <h3>Gratuit (min 2T)</h3>
      
      </ion-label>
      
      </ion-item>
      <ion-list-header>

        <h1>Terre et Sable</h1>
        
      </ion-list-header>
        
        <ion-item>
        
        <ion-label>
        
        <h2>10 m³</h2>
        
        <h3>400 euros</h3>
        
        </ion-label>
        
        <ion-label>
        
        <h2>15 m³</h2>
        
        <h3>500 euros</h3>
        
        </ion-label>
        
        <ion-label>
        
        <h2>20 m³</h2>
        
        <h3>600 euros</h3>
        
        </ion-label>
        
        </ion-item>
        
        
        
        <ion-list-header>
        
        <h1>Papier et Carton</h1>
        
        </ion-list-header>
        
        
        
        <ion-item>
        
        <ion-label>
        
        <h2>10 m³</h2>
        
        <h3>150 euros</h3>
        
        </ion-label>
        
        <ion-label>
        
        <h2>15 m³</h2>
        
        <h3>200 euros</h3>
        
        </ion-label>
        
        <ion-label>
        
        <h2>20 m³</h2>
        
        <h3>250 euros</h3>
        
        </ion-label>
        
        </ion-item>

      <ion-list-header>

          <h1>Mélange</h1>
          
      </ion-list-header>
          
          
          
          <ion-item>
          
          <ion-label>
          
          <h2>10 m³</h2>
          
          <h3>450 euros</h3>
          
          </ion-label>
          
          <ion-label>
          
          <h2>15 m³</h2>
          
          <h3>550 euros</h3>
          
          </ion-label>
          
          <ion-label>
          
          <h2>20 m³</h2>
          
          <h3>650 euros</h3>
          
          </ion-label>
          
          </ion-item>

          <ion-list-header>
            <h1>Briques</h1>
          </ion-list-header>
            
            
            
            <ion-item>
            
            <ion-label>
            
            <h2>10 m³</h2>
            
            <h3>350 euros</h3>
            
            </ion-label>
            
            <ion-label>
            
            <h2>15 m³</h2>
            
            <h3>400 euros</h3>
            
            </ion-label>
            
            <ion-label>
            
            <h2>20 m³</h2>
            
            <h3>500 euros</h3>
            
            </ion-label>
            
            </ion-item>
            
            
            
            </ion-list>
            
            </ion-content>
            
            </ion-app>
            
            </body>