<body>

  <ion-app>
  
  <ion-header translucent>
  
  <ion-toolbar>
  
  <ion-title>Nos tarifs</ion-title>
  
  </ion-toolbar>
  
  </ion-header>
  
  <ion-content fullscreen>
  
  <ion-list>
  
  <ion-list-header>
  
  Déchets verts
  
  </ion-list-header>
  
  <ion-item>
  
  <ion-label>
  
  <h2>10 m³</h2>
  
  <h3>1000 euros</h3>
  
  </ion-label>
  
  <ion-label>
  
  <h2>15 m³</h2>
  
  <h3>1000 euros</h3>
  
  </ion-label>
  
  <ion-label>
  
  <h2>20 m³</h2>
  
  <h3>1000 euros</h3>
  
  </ion-label>
  
  </ion-item>
  <ion-list-header>

    Bois
    
    </ion-list-header>
    
    <ion-item>
    
    <ion-label>
    
    <h2>10 m³</h2>
    
    <h3>1000 euros</h3>
    
    </ion-label>
    
    <ion-label>
    
    <h2>15 m³</h2>
    
    <h3>1000 euros</h3>
    
    </ion-label>
    
    <ion-label>
    
    <h2>20 m³</h2>
    
    <h3>1000 euros</h3>
    
    </ion-label>
    
    </ion-item>
    <ion-list-header>

      Bois
      
      </ion-list-header>
      
      <ion-item>
      
      <ion-label>
      
      <h2>10 m³</h2>
      
      <h3>1000 euros</h3>
      
      </ion-label>
      
      <ion-label>
      
      <h2>15 m³</h2>
      
      <h3>1000 euros</h3>
      
      </ion-label>
      
      <ion-label>
      
      <h2>20 m³</h2>
      
      <h3>1000 euros</h3>
      
      </ion-label>
      
      </ion-item>
      <ion-list-header>

        Terre et Sable
        
        </ion-list-header>
        
        
        
        <ion-item>
        
        <ion-label>
        
        <h2>10 m³</h2>
        
        <h3>1000 euros</h3>
        
        </ion-label>
        
        <ion-label>
        
        <h2>15 m³</h2>
        
        <h3>1000 euros</h3>
        
        </ion-label>
        
        <ion-label>
        
        <h2>20 m³</h2>
        
        <h3>1000 euros</h3>
        
        </ion-label>
        
        </ion-item>
        
        
        
        <ion-list-header>
        
        Papier et Carton
        
        </ion-list-header>
        
        
        
        <ion-item>
        
        <ion-label>
        
        <h2>10 m³</h2>
        
        <h3>1000 euros</h3>
        
        </ion-label>
        
        <ion-label>
        
        <h2>15 m³</h2>
        
        <h3>1000 euros</h3>
        
        </ion-label>
        
        <ion-label>
        
        <h2>20 m³</h2>
        
        <h3>1000 euros</h3>
        
        </ion-label>
        
        </ion-item>

        <ion-list-header>

          Mélange
          
          </ion-list-header>
          
          
          
          <ion-item>
          
          <ion-label>
          
          <h2>10 m³</h2>
          
          <h3>1000 euros</h3>
          
          </ion-label>
          
          <ion-label>
          
          <h2>15 m³</h2>
          
          <h3>1000 euros</h3>
          
          </ion-label>
          
          <ion-label>
          
          <h2>20 m³</h2>
          
          <h3>1000 euros</h3>
          
          </ion-label>
          
          </ion-item>

          <ion-list-header>

            Briques
            
            </ion-list-header>
            
            
            
            <ion-item>
            
            <ion-label>
            
            <h2>10 m³</h2>
            
            <h3>1000 euros</h3>
            
            </ion-label>
            
            <ion-label>
            
            <h2>15 m³</h2>
            
            <h3>1000 euros</h3>
            
            </ion-label>
            
            <ion-label>
            
            <h2>20 m³</h2>
            
            <h3>1000 euros</h3>
            
            </ion-label>
            
            </ion-item>
            
            
            
            </ion-list>
            
            </ion-content>
            
            </ion-app>
            
            </body>