<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>Page d'accueil
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Green.png" width="80" height="80"> <p class="green">Green Maps</p>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button> Retour
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <div #map id="map"> </div>

    
    <ion-button (click)="getCurrentCoordinates()" expand="block">
     <p> Où suis-je ?</p>
    </ion-button>
</ion-content>
