<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/Green.png" width="80" height="80"> <p class="green">Green Maps</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p><ion-icon name="bulb"></ion-icon><strong>Trouvez un Delhaize à proximité pour recycler vos bouteilles en plastique contre un bon d'achat</strong></p>
  <br><br>
  <p><ion-icon name="leaf" color></ion-icon><strong> Trouvez un point de collecte publiques</strong></p>
 
  <div #map id="map"></div>


  

</ion-content>
