ion-content{
    --background:linear-gradient(#d8dcdd,#80ff72);
}

ion-select{
   font-family: opensans;
}

span{
    font-family: opensans;
    color:#080808;
    font-size:  large;
    padding-left: 20%;
    padding-right: 40%;
}


.icon-vol{
    font-family: opensans;
    color: #0e0bac;
    margin-left: -320px;
}

.icon-con{
  font-family: opensans;
  color: #0e0bac;
  margin-left: -200px;
}
.ref-but{
  margin-left: -400px;
  margin-top: -20px;
  padding-top: 15px;
}
ion-item{
    color: #0e0bac;
    padding-left: 20%;
    padding-right: 40%;
    text-align: center;
}

.titre{
    margin-left: 75px;
}

ion-button{
    font-family: opensans ;
    --color: #050505;
    --background: rgb(16, 216, 123);
}
.but-prix{
  margin-left: 20%;
}

.but-cal{
  margin-left:  50px;
}
