<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button> Retour
    </ion-buttons>
    <ion-title class='titre'>
      Réservation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
<br>
<br>
<br>
<br>
<br> 
<span style="font-size: 24px;"><strong> Volume d'encombrants ? Nous acceptons plus de 7m³ !</strong></span>
<ion-button  style="font-size: 20px;" class='ref-but' color='success' (click)="affiche()">Réference</ion-button>

<br>
<ion-item>
  <ion-label class="icon-vol">
    <ion-icon name="cube-outline"></ion-icon>

    <strong>Volume</strong>
  </ion-label>

  <ion-select [(ngModel)]="selected_vol" (ionChange)="showVol()" placeholder="sélectionnez un volume"  cancelText="annuler">

    <ion-select-option value="8 pieds ">-5m3 ≈ 8 pieds</ion-select-option>
    <ion-select-option value="12 pieds">+5m3 ≈ 12 pieds</ion-select-option>
    <ion-select-option value="20 pieds">+7m3 ≈ 20 pieds</ion-select-option>

  </ion-select>

</ion-item>

<br>
<br>
<span style="font-size: 24px;"><strong>Déchets toxiques à évacuer ? Pas de soucis !</strong></span>
<br>
<ion-item>
  <ion-label class="icon-con">
    <ion-icon name="trash-outline"></ion-icon>
    Catégorie d'encombrant
  </ion-label>

  <ion-select [(ngModel)]="selected_cat" (ionChange)="showCat()" placeholder="sélectionnez une catégorie" cancelText="annuler"  multiple="false">
    <ion-select-option value="Encombrants">Encombrants</ion-select-option>
    <ion-select-option value="Toxiques   ">Déchets toxiques</ion-select-option>
    <ion-select-option value="Mixtes     ">Les deux</ion-select-option>

  </ion-select>

</ion-item>
<span style="font-size: 24px;" class="span3"><strong>Choisir votre date de reservation</strong></span>
<ion-item>
  <ion-label class="date">
    <ion-icon name="calendar-outline"></ion-icon>
    Date de reservation
  </ion-label>
  <ion-icon name="calendars-outline"></ion-icon>
  <ion-datetime [(ngModel)]="date" placeholder='Date de réservation' display-format="D-MM-YYYY" picker-format="D-MM-YYYY" value="22-12-2021"></ion-datetime>
</ion-item>


<br>
<br>
<br>
<br>
<br>
<br>

<ion-button style="font-size: 20px;" shape="round" class="but-prix" color='success' (click)="calcul1()"><ion-icon name="calculator-outline"></ion-icon> Estimation du prix</ion-button>
<ion-button style="font-size: 20px;" shape="round" class="but-cal" (click)='postData()' color='success'> <ion-icon name="card-outline" > </ion-icon> Passer au paiement</ion-button>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




<div>
  <ion-tab-bar slot="bottom">

    <ion-tab-button class="but" href="home">
        <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="but" href="calendrier">
        <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="but" href="map">
        <ion-icon name="location-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="but" href="location">
        <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="but" href="reserve">
      <img src="https://img.icons8.com/wired/24/ffffff/garbage-truck.png"/>
      </ion-tab-button>

    <ion-tab-button class="but" href="adam">
        <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>


</ion-tab-bar>

</div>

</ion-content>
