ion-content{
    --background:white;
}

ion-select{
   font-family: opensans;
}

span{
    font-family: opensans;
    color:#080808;
    font-size:  large;
    padding-left: 20%;
    padding-right: 40%;
}

.span3{
  margin-top: 160px;
}
.icon-vol{
    font-family: opensans;
    color: #0e0bac;
    margin-left: -320px;
}
.date{
  margin-left: -230px;
}
.icon-con{
  font-family: opensans;
  color: #0e0bac;
  margin-left: -200px;
}
.ref-but{
  margin-left: -400px;
  margin-top: -20px;
  padding-top: 15px;
}
ion-item{
    color: #0e0bac;
    padding-left: 20%;
    padding-right: 40%;
    text-align: center;
}

.titre{
    margin-left: 75px;
}

ion-button{
    font-family: opensans ;
    --color: #050505;
    --background: rgb(16, 216, 123);
}
.but-prix{
  margin-left: 20%;
}

.but-cal{
  margin-left:  50px;
  
}
.alert-wrapper {
  background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .alert-wrapper {
  background: #e5e5e5;
}

.but {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #2dd36f;
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #0bcc1b;
  border-radius: 4px;
  justify-content: space-between;
  padding: 15px;
  display: flex;
  
}



.but:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px;
  color: #000;
  justify-content: space-between;
  padding: 15px;
  display: flex;
}

.but:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  justify-content: space-between;
  padding: 15px;
  display: flex;
}

.but:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  justify-content: space-between;
  padding: 15px;
  display: flex;
}

.but:focus { outline:0; }