
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="recapitulatif"></ion-back-button> Retour
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 style="font-size: 16px;"><ion-icon style="color: green;" name="alert-circle-outline"></ion-icon> Veuillez compléter vos informations pour le mode de paiement que vous désirez utiliser ! </h1>
  <h1 style="font-size: 16px;"><ion-icon style="color: rgb(211, 36, 6);" name="alert-circle-outline"></ion-icon> Veuillez savoir que pour tout mode de paiement, il vous faudra transférer le montant de la facture sur notre compte bancaire. <br>Vous recevrez votre confirmation de commande par e-mail, comprenant nos coordonnées 
    bancaires et le numéro de commande.<br> Votre réservation sera annulé automatiquement annulée si le paiement n'est pas reçu <strong>dans les 48 heures</strong> </h1>
  <h1><strong>Confirmer votre paiement par carte bancaire</strong></h1>

<ion-card [options]="settings">
  <ion-card-content>
      <ion-input [(ngModel)]="name" placeholder="Champ obligatoire">Votre nom</ion-input>
      <ion-input [(ngModel)]="card" placeholder="Numéro de carte">Numéro de carte</ion-input>
      <ion-input [(ngModel)]="exp" placeholder="Champ obligatoire">Date d'expiration</ion-input>
      <ion-input [(ngModel)]="cvv" placeholder="3-chiffres CVV">Securité</ion-input>
  </ion-card-content>
</ion-card>
 
  <br>
  <div class="mbsc-btn-group-block mbsc-padding">
      <ion-button class="ionic-super-popup" color="success" (click)="showAlert()">Je paie !</ion-button>
  </div>

  
</ion-content>
