<body>
  <ion-header translucent>
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="location"></ion-back-button> Retour
    </ion-buttons>
    <ion-title>Réservez votre container</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> 

    <ion-item>
      <ion-select [(ngModel)]="type" placeholder='Type de déchets' value="typededechets" interface="action-sheet">
      <ion-select-option value="Terre et sable ">Terre et Sable</ion-select-option>
      <ion-select-option value="Dechets verts  ">Déchets Verts</ion-select-option>
      <ion-select-option value="Papier & Carton">Papier et Carton</ion-select-option>
      <ion-select-option value="Briques        ">Briques</ion-select-option>
      <ion-select-option value="Bois           ">Bois</ion-select-option>
      <ion-select-option value="Melange        ">Mélange</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select [(ngModel)]="taille" placeholder='Taille du container' value="tailleducontainer" interface="action-sheet">
      <ion-select-option value="10">10 m³</ion-select-option>
      <ion-select-option value="15">15 m³</ion-select-option>
      <ion-select-option value="20">20 m³</ion-select-option>
      </ion-select>
    </ion-item>



    <ion-item>
      <ion-datetime [(ngModel)]="date" placeholder='Date de réservation' display-format="D-MM-YYYY" picker-format="D-MM-YYYY" value="22-12-2021"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-select [(ngModel)]="periode" placeholder='Nombre de jours' value="nombredejours" interface="action-sheet">
      <ion-select-option value='1'>1 jour</ion-select-option>
      <ion-select-option value="2">2 jours</ion-select-option>
      <ion-select-option value="3">3 jours</ion-select-option>
      <ion-select-option value="4">4 jours</ion-select-option>
      <ion-select-option value="5">5 jours</ion-select-option>
      </ion-select>
    </ion-item>



    <ion-item>
      <ion-textarea [(ngModel)]="commentaires" placeholder="Commentaires sur les déchets"></ion-textarea>
    </ion-item>

    <ion-button (click)='postData()' class="reserver" expand="block" color="success">Réserver</ion-button>

  </ion-content>
</body>
