<head>
  
</head>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class= 'title'>
    Location de conteneurs
    </ion-title>    
  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button> Retour
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

<ion-header collapse="condense">

<ion-toolbar>

<ion-title size="large">Location de containers</ion-title>

</ion-toolbar>

</ion-header>

<div>

<h1 class="titre">Besoin de louer un container ?</h1>

<img class="imagecontainer" src="../assets/ConteneurMoyen.png">

<p class="texte">Greenium met à votre disposition des containers à prix compétitifs !

Nous vous offrons la possibilité de choisir entre nos containers de 10m³, 15m³ et 20m³.

</p>

<p class="texte"><strong>Vous pourrez ainsi vous débarasser des déchets suivants: briquaillon, terre et sable,

bois, déchets verts, papier et carton et mélange.</strong> </p>

</div>

<br><br>

<div>

<ion-button href="/tarif" class="tarifs" expand="block" color="success">Voir les tarifs</ion-button>

</div>

  <div>

<ion-button href="/tarif copy" class="type" expand="block" color="success">Type de déchets</ion-button>

</div>




<section class="BoutonReserver">

<ion-button href="/rdv" class="reserver" expand="block" color="success">Réserver</ion-button>

</section>



</ion-content>

<ion-footer>

</ion-footer>