.reserver

{

color: white;

}

.BoutonReserver

{

margin-top: 1em;

margin-bottom: 2.5em;

margin-left: 50em;

margin-right: 9em;

width: 300px;
display: block;



}

.titre

{

text-align: center;

margin-left: 1em;

margin-right: 1em;

margin-bottom: 0em;

}



.texte

{

text-align: center;

margin-left: 1.5em;

margin-right: 1.5em;

}

.tarifs

{

display: center;

width: 150px;

height: 40px;

margin-left:35%;

}

.type{

display: center;

width: 150px;

height: 40px;

margin-left:55%;

margin-top:-44px;

}



.imagecontainer

{

display: block;

margin-left: auto;

margin-right: auto;

margin-top: 0em;

height: 350px;
}
p{
    font-size: 20px;
}