<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>Page d'accueil
    </ion-buttons>
    <ion-title>
      <img src="../../assets/Green.png" width="80" height="80">
    </ion-title>
  </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">

<ion-header collapse="condense">

<ion-toolbar>

<ion-title size="large">Location de containers</ion-title>

</ion-toolbar>

</ion-header>

<div>

<h1 class="titre"><strong>Besoin de louer un container ?</strong></h1><br><br>

<img class="imagecontainer" src="../../assets/slider/4.png">

<p class="texte">Greenium met à votre disposition des containers à prix compétitifs !

  <br>Nous vous offrons la possibilité de choisir entre nos containers de 10m³, 15m³ et 20m³.

</p>

<p class="texte"><strong>Vous pourrez ainsi vous débarasser des déchets suivants:<br> briquaillon, terre et sable,

bois, déchets verts, papier et carton et mélange.</strong> </p>

</div>

<br><br>

<div>

<ion-button href="/tarif" class="tarifs" expand="block" color="success">Voir les tarifs</ion-button>

</div>

  <div>

<ion-button href="/typededechets" class="type" expand="block" color="success">Type de déchets</ion-button>

</div>


<br>

<section class="BoutonReserver">

<ion-button href="/rdv" class="reserver" expand="block" color="success">Réserver</ion-button>

</section>



</ion-content>

<ion-footer>

</ion-footer>