<ion-header>
  <ion-toolbar>
    <ion-title>Métaux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/slider/guid/metal.png" />
    <ion-card-header>
      <ion-card-subtitle>Encombrants</ion-card-subtitle>
      <ion-card-title>Métaux</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Les métaux sont envoyés en
sidérurgie où ils
interviennent dans
la fabrication de
nouveaux produits
métalliques.
      <strong><br>Nous nous occupos de :
        <br>
        • gros objets constitués en grande
        partie de métaux
        <br>
        • armoires, sommiers métalliques
        <br>
        • tôles, treillis…
        <br>
        • pots de peinture entièrement vides
        <br>
        • fils et câbles électriques
       </strong>
        <br><br>
        <h2 style="color: green;"><strong>Consignes de tri</strong></h2>
        <ion-list>
          <li>
            <ul>
                <li>vidanger les appareils (aucun reste
                  d’huile moteur ni d’essence) ;</li> 
            </ul>
        </li>
      </ion-list>
            </ion-card-content>
  </ion-card>
</ion-content>
