<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="reserve"></ion-back-button> Retour
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="stepper-wrapper">
	<div class="stepper-item completed">
	  <div class="step-counter">1</div>
	  <div class="step-name">Réservation</div>
	</div>
	<div class="stepper-item completed">
	  <div class="step-counter">2</div>
	  <div class="step-name">Choix du mode de paiement et récapitulatif</div>
	</div>
	<div class="stepper-item active">
	  <div class="step-counter">3</div>
	  <div class="step-name">Paiement</div>
	</div>
	<div class="stepper-item">
	  <div class="step-counter">4</div>
	  <div class="step-name">Confirmation</div>
	</div>
  </div>
<ion-content>
  	<div class="background-pic">
	<div class="filter">
	<ion-grid>
		<ion-col size='3'>
			<ion-row>
 			<ion-list-header style="font-size: 24px;"><strong>Veuillez sélectionner un mode de paiement</strong></ion-list-header>
  			<ion-card class="ion-card">
				<ion-item>
					<ion-label>Payer par carte bancaire</ion-label>
					<ion-button class='button1' color="success" (click)="bancaire()">Choisir</ion-button>
				</ion-item>
			</ion-card>
			</ion-row>
			<ion-row>
				<ion-card class="ion-card">
				<ion-item>
					<ion-label>Payer par PayPal</ion-label>
					<ion-button class='button2' color="success" (click)="bancontact()" >Choisir</ion-button>
				</ion-item>
				</ion-card>
			</ion-row>
			<ion-row>
				<ion-card class="ion-card">
				<ion-item>
					<ion-label>Payer par virement bancaire</ion-label>
					<ion-button class='button3' color="success" (click)="virement()">Choisir</ion-button>
				</ion-item>
				</ion-card>
			</ion-row>
		
		
			<ion-row>
				<ion-card class='ion-card-rec'>
				<ion-item>
					<ion-label class='label'>Récapitulatif</ion-label>		
				</ion-item>
				<div class='recap'>
					<ion-item>
						<h3>Type de dechets : {{this.data[9]}}{{this.data[10]}}{{this.data[11]}}{{this.data[12]}}{{this.data[13]}}{{this.data[14]}}{{this.data[15]}}{{this.data[16]}}{{this.data[17]}}{{this.data[18]}}{{this.data[19]}}</h3>
					</ion-item>
					<ion-item>
						<h3>Taille des déchets : {{this.data[32]}}{{this.data[33]}}{{this.data[34]}}{{this.data[35]}}{{this.data[36]}}{{this.data[37]}}{{this.data[38]}}</h3><br>
					</ion-item>
					<ion-item>
						<h3>Date de rendez-vous : {{this.data[50]}}{{this.data[51]}}{{this.data[52]}}{{this.data[53]}}{{this.data[54]}}{{this.data[55]}}{{this.data[56]}}{{this.data[57]}}{{this.data[58]}}{{this.data[59]}}</h3><br>
					</ion-item>
					<ion-item>
						<h3>Prix Total : {{this.data[90]}}{{this.data[91]}}{{this.data[92]}} €</h3><br>
					</ion-item>
				</div>
				</ion-card>
			</ion-row>
		</ion-col>
	</ion-grid>