@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.background-pic{
    height: 100vh;
    width: 100%;
    background: url('../../assets/lectur.png');
    background-position: 30%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .filter{
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
  }
.button1{
  margin-left: 70px;
}
.button2{
  margin-left: 120px;
}
.button3{
  margin-left: 43px;
}
  .ion-card-rec{
    margin-top: 20px;
    
  }
  .ion-card{
    padding-right: 5000px;
    
  }
  .label{
    margin-top: 0px;
    font-size: large;
    font-size: 24px;

  }
  .test{
    margin-left: -0px;
    margin-top: 0px;
   
  }
  h3{
    font-size: 15px;
  }
  img{
    height: 62px;
    width: 62px;
    margin-left: 560px;    
  }
  

  .stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #4bb543;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }


  