<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tesst"></ion-back-button> Retour
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-pic">
    <div class="filter">

  <ion-list-header style="font-size: 24px;"><strong>Veuillez sélectionner un mode de paiement</strong></ion-list-header>
  <ion-card class="ion-card">
		<ion-item>
			<ion-label>Payer par carte bancaire</ion-label>
			<ion-button color="success" (click)="bancaire()">
			</ion-button>
		</ion-item>
	</ion-card>
  <ion-card class="ion-card">
		<ion-item>
			<ion-label>Payer par PayPal</ion-label>
			<ion-button color="success" (click)="bancontact()" >
      </ion-button>
		</ion-item>
	</ion-card>
  <ion-card class="ion-card">
		<ion-item>
			<ion-label>Payer par virement bancaire</ion-label>
			<ion-button color="success" (click)="virement()">
			</ion-button>
		</ion-item>
	</ion-card>
    </div>
  </div>
</ion-content>
