<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tesst"></ion-back-button> Retour
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-pic">
    <div class="filter">

  <ion-list-header style="font-size: 24px;"><strong>Veuillez sélectionner un mode de paiement</strong></ion-list-header>
  <ion-card class="ion-card">
		<ion-item *ngFor="let category of categories; let i = index">
			<ion-label>{{category.name}}</ion-label>
			<ion-checkbox (click)="bancaire()"
        [disabled]="categories[i].value" 
        (click)="selection(category.name);">
			</ion-checkbox>
		</ion-item>
	</ion-card>

    </div>
  </div>
</ion-content>
