<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="guide"></ion-back-button>Guide de tri
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen>
    <ion-card>
      <img src="../../assets/slider/guid/amiante.png" />
      <ion-card-header>
        <ion-card-subtitle>Déchets toxiques</ion-card-subtitle>
        <ion-card-title>L'amiante</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Ne manipulez pas les déchets
        d’amiante sans précaution : évitez
        de les casser, de les scier, et
        humidifiez-les avant manipulation.
        Portez des gants et un masque
        antipoussière de préférence FFP3. 

        <strong>Nous nous occupos de vos déchets toxiques. Ceux-ci
          sont déposés conformément
          aux conditions définies par
          le Gouvernement wallon en
          Centre d’enfouissement
          technique de classe II. </strong>
          <br><br>
          <h2 style="color: green;"><strong>Consignes de tri</strong></h2>
          <ion-list>
            <li>
              <ul>
                  <li>Utiliser obligatoirement les sacs
                    double paroi IDELUX, de 140 litres, en
                    vente uniquement sur les recyparcs.</li>
                  <li>Déposer les déchets dans ces sacs en
                    évitant de les remplir à ras bord.</li>
                    <li>Fermer complètement les sacs afin de
                      garantir leur étanchéité.</li>
              </ul>
          </li>
        </ion-list>
              </ion-card-content>
    </ion-card>
  </ion-content>
