<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="adam"></ion-back-button>Paramètres
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <div class="overlay">
    <ion-avatar>
      <img src="../../assets/Green.png">
    </ion-avatar>
  </div>
</div>
<ion-card>
  <ion-card-header>
    <ion-card-title style="text-transform: capitalize;">
      <strong>{{user?.name}}</strong>
    </ion-card-title>
    <br>
      <ion-card-subtitle>
       <strong style="font-size: 20px;">Mes informations</strong>
      </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-item >
      <ion-icon name="mail"></ion-icon>
      <ion-label> <p>{{user?.email}}</p>
       
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="call"></ion-icon>
      <ion-label><p>{{user?.phone}}</p>  
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="locate"></ion-icon>
      <ion-label>{{user?.address}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="map"></ion-icon>
      <ion-label>{{user?.region}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="pin"></ion-icon>
      <ion-label>{{user?.ville}}</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-button class="n2" expand="block" shape="round" color="light" style="text-transform: none;" (click)="edit()"><ion-icon class="bb" name="settings"></ion-icon>&nbsp;&nbsp;Modifier mon profil</ion-button> 

</ion-content>

