<body>

  <ion-app>
  
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="location"></ion-back-button>Location de container
        </ion-buttons>
      </ion-toolbar>
      </ion-header>
  
  
  <ion-content>
  
  <ion-item-group>
  
  <ion-item-divider>
  
  <ion-label><strong><h1>Terre et Sable</h1></strong></ion-label>
  
  </ion-item-divider>
  
  
  
  <ion-item>
  
  <ion-label>Le chargement autorisé du container est de 12 T maximum. Tout poids dépassé sera facturé.</ion-label>
  
  </ion-item>
  
  </ion-item-group>
  
  
  
  <ion-item-group>
  
  <ion-item-divider>
  
  <ion-label><strong><h1>Briquaillon</h1></strong></ion-label>
  
  </ion-item-divider>
  <ion-item>

    <ion-label>Il est permis de mettre dans ce container uniquement des briques et 10% impuretés dû à la démolition (sable, plafonnage). </ion-label>
    
    </ion-item>
    
    <ion-item>
    
    <ion-label>Cependant, il est interdit de mettre: plâtre, terre, gybroc et bloc Ytong.</ion-label>
    
    </ion-item>
    
    </ion-item-group>
    
    
    
    <ion-item-group>
    
    <ion-item-divider>
    
    <ion-label><strong><h1>Bois</h1></strong></ion-label>
    
    </ion-item-divider>
    
    
    
    <ion-item>
    
    <ion-label>Uniquement pour le bois traités. Exemples: portes en bois, châssis en bois sans carreaux, ... Les bois non traités iront dans un container mélange.
    
    </ion-label>
    
    </ion-item>
    
    </ion-item-group>
    
    
    
    <ion-item-group>
    
    <ion-item-divider>
    
    <ion-label><strong><h1>Papier et Carton</h1></strong></ion-label>
    
    </ion-item-divider>
    <ion-item>

      <ion-label>Sont exclus les fardes avec anneaux métalliques et pochettes en plastique</ion-label>
      
      </ion-item>
      
      </ion-item-group>
      
      
      
      <ion-item-group>
      
      <ion-item-divider>
      
      <ion-label><strong><h1>Déchets Verts</h1></strong></ion-label>
      
      </ion-item-divider>
      
      
      
      <ion-item>
      
      <ion-label>Uniquement pour les petites branches, haies, gazons.</ion-label>
      
      </ion-item>
      
      <ion-item>
      
      <ion-label>Il est interdis de jeter des gros troncs d'arbres souche.</ion-label>
      
      </ion-item>
      
      
      
      </ion-item-group>
      
      
      
      <ion-item-group>
      
      <ion-item-divider>
      
      <ion-label><strong><h1>Mélange</h1></strong></ion-label>
      
      </ion-item-divider>
      
      
      
      <ion-item>
      
      <ion-label>Sont exclus de ce container: Roofing, frigo, congélateur, radio, tv, appareil électronique, bombonne de gaz, aérosol, amiante et matériaux toxiques (peinture, huile, ...) et pneus.</ion-label>
      
      </ion-item>
      
      </ion-item-group>
      
      
      
      </ion-content>
      </ion-app>
    </body>