<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
 <h1>Vous avez des difficultés à vous connecter ?</h1>
 <h3>Saisissez votre email Greenium pour commencer :</h3>

<div class="form">
<ion-input required type="email" placeholder="Votre email" [(ngModel)]='email' name='email'><ion-icon class="nav" name="at-outline"></ion-icon></ion-input>
</div>
<ion-button (click)="recover()">Réinitialiser mon mot de passe</ion-button>
</ion-content>