ion-content{
    --background:linear-gradient(#d8dcdd,#80ff72);
}
h3 {
    font-size: 1.1rem;
    color: #fff;
    margin-left: 250px;

}


h1 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-left: 250px;
    margin-top: 50px;
}

.form {
    padding: 0 12vw;
    margin: 2px;
    ion-input {
        --background: #fff ;
        --padding-start: 33px;
        height: 55px;
        border-radius: 25px;
        margin-bottom: 22px;
        --placeholder-color: grey;
        --color: black;
    }
}
.nav{
    padding-left: 20px;
}

ion-button{
    margin-left: 250px;
}