<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="adam"></ion-back-button>Paramètres
  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <div class="background-pic">
    <div class="filter">
      <h1>A propos de Greenium</h1>
      <p>Greenium est une application mobile dévellopée par les étudiants <strong>de la Haute Ecole EPHEC</strong>,<br>
        cette application vous offre la possibilité de recycler de manière innovante,<br>
        de réserver un rendez-vous avec nous pour que nous puissons occuper de vos encombrants en Wallonie et à Bruxelles.</p>
  <h2>Notre politique de collecte</h2>
      <p>Greenium offre plusieurs programmes de collecte payants.<br>
        Des solutions de recyclage payantes seront bientôt disponibles pour presque tous types de déchets.</p>
        <h2>Aujourd'hui,nous offrons nos services dans toutes la Wallonie ainsi qu'à Bruxelles, notre but est de collecter et recycler des milliers de déchets,<br>
           que ce soit toxique, ordures ménagères résiduelles, encombrants, déchets verts, déchets dangereux ou non issus des activités de ménage,...  </h2>
  
  <h3>Greenium</h3>
  <p>Notre but Greenium but consiste à résoudre les défis les plus complexes liés à la crise des déchets en Belgique en voie de développement. 
    Nous lancerons prochainement notre projet dans toutes la Belgique.
  <br> <strong> Disponible sur IOS et Android</strong></p>
  <h4>Greenium !</h4>
  <p>Version: 3.1.1</p>
  <p>Build 300</p>
  <h4>Information juridique</h4>
  <p>Nous respectons votre vie privée. <br>
    Nous conservons vos coordonnées sur nos serveurs dans le but de vous offirir nos services et diriger nos chauffeurs de camions pour qu'ils récupérent vos encombrants. Les politiques de confidentialité et de cookies sont applicables</p>
    <h4>Copyright Greenium 2021. All Rights Reserved</h4>  
  </div>
  </div>
  </ion-content>
  