<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="adam"></ion-back-button>Paramètres
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-pic">
    <div class="filter">
      <h1>A propos de Greenium</h1>
      <p>Greenium est une application mobile dévellopée par les étudiants <br><strong>de la Haute Ecole EPHEC</strong>,<br>
        cette application vous offre la possibilité de recycler de manière innovante,<br>
        de réserver un rendez-vous avec nous pour que nous puissons occuper<br> de vos encombrants en Wallonie et à Bruxelles.</p>
  <h2>Notre politique de collecte</h2>
      <p>Greenium offre plusieurs programmes de collecte payants.<br>
        Des solutions de recyclage payantes seront <br>bientôt disponibles pour presque tous types de déchets.</p>
        <h2>Aujourd'hui,nous offrons nos services dans toutes la Wallonie ainsi <br>qu'à Bruxelles, notre but est de collecter et recycler des milliers de déchets,<br>
           que ce soit toxique, ordures ménagères résiduelles, <br>encombrants, déchets verts, déchets dangereux ou non issus des activités de ménage,...  </h2>
  
  <h3>Greenium</h3>
  <p>Notre but Greenium but consiste à résoudre les défis <br>les plus complexes liés à la crise <br>des déchets en Belgique <br>en voie de développement. 
    <br>Nous lancerons prochainement notre projet dans toutes la Belgique.
  <br> <strong> Disponible sur IOS et Android</strong></p>
  <p class="font-size-16"><strong>Pour toutes autres questions contacter nous sur notre site web</strong></p>
  <div class="social-iconss">
    <a href="https://agemici1.wixsite.com/greenium">
    <ion-icon name="globe-outline"></ion-icon></a>
  </div>
  <div>
    <div class="horizontal">
      <p class="font-size-16"><strong>Suivez nous sur nos réseaux sociaux</strong></p>
    </div>
    <div class="horizontal">
      <div class="social-icons">
        <a href="https://www.facebook.com/green.im/">
        <ion-icon name="logo-facebook"></ion-icon></a>
      </div>
      <div class="social-icons">
        <a href="https://www.instagram.com/greeniumindia/?hl=fr">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      </div>
      <div class="social-icons" (click)="socialMedia('TWITTER')">
        <a href="https://www.instagram.com/greeniumindia/?hl=fr">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      </div>
<div class="social-icons">
  <a href="https://www.youtube.com/channel/UCx756yIHYkLlnVXzC3E3OTw">
        <ion-icon name="logo-youtube"></ion-icon>
      </a>
      </div>
    </div>
  </div>
<br>
  <h4>Greenium !</h4>
  <p>Version: 1.1.1</p>
  <p>Build 300</p>
  <h4>Information juridique</h4>
  <p>Nous respectons votre vie privée. <br>
    Nous conservons vos coordonnées sur nos serveurs dans <br>le but de vous offirir nos services et diriger <br>nos chauffeurs de camions pour qu'ils récupérent vos encombrants. <br>Les politiques de confidentialité et de cookies sont applicables</p>
    
    <h4>Copyright Greenium 2021. All Rights Reserved</h4>  
  </div>
  </div>



  
  </ion-content>
  