<ion-header>
  <ion-toolbar>
    <ion-title>DÉCHETS ÉLECTRIQUES
      ET ÉLECTRONIQUES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/slider/guid/electro.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Encombrants</ion-card-subtitle>
      <ion-card-title>DÉCHETS ÉLECTRIQUES
        ET ÉLECTRONIQUES </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Un électro est un appareil muni d’un
      câble électrique, d’une fiche ou qui
      fonctionne sur batterie ou piles.
      <br><br>
    <strong>Nous acceptons :  Gros appareils ménagers</strong>
    <br>
• réfrigérateurs, congélateurs
<br>
• lave-vaisselle, cuisinières
<br>
• machines à laver, séchoirs
<br>
• couvertures électriques
<br>
• outils de jardin électriques
<br>
• équipements loisir et sport...
<br><br>
<strong>2. Petits appareils ménagers</strong>
<br>
• brosses à dents, thermomètres
<br>
• systèmes hifi, magnétoscopes
<br>
• fers à repasser, gaufriers
<br>
• jouets contenant un dispositif
électronique
<br>
• lampes de poche, luminaires...
<br><br>
<strong>3. Matériel informatique</strong>
<br>
• claviers, souris, webcams
<br>
• GSM, calculatrices, stylos 3D...
<br><br>
<strong>4. Écrans</strong>
<br>
• ordinateurs et télévisions
<br><br>
<h2 style="color: green;"><strong>Consignes de tri</strong></h2>
<br>
Nettoyer et vider l’appareil de
son contenu : huile de friture,
sac d’aspirateur… ;
<br>
• enlever les piles des lampes de poche
et des jouets.
        </ion-card-content>
  </ion-card>
</ion-content>
