<ion-content [fullscreen]="true">
  <div class="background-pic">
    <div class="filter">

      <ion-header [translucent]="true">
      </ion-header>

      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-header class='title'><strong> Bienvenue {{user?.name}} </strong></ion-header>
          </ion-col>
          <ion-col>
            <ion-button class="para-but" color="success" href="adam">
            <ion-icon class='para' name="settings-outline"></ion-icon></ion-button>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-text class='ges-text' style="font-size: 42px;"><strong>Informations</strong></ion-text>
        </ion-row>
        <br>
        <ion-row>
          <ion-col>
            <ion-button class="cal-but" shape="round" href="/calendrier" color="success">
              <ion-icon class="cal-icon" name="calendar" ></ion-icon>
            </ion-button>
            <ion-text class="cal-text" style="font-size: 23px;" ><strong>Calendrier</strong></ion-text>
          </ion-col>

          <ion-col>
            <ion-button class='map-but' shape="round" href="/map" color="success">
              <ion-icon class='map-icon' name="location"></ion-icon>
            </ion-button>
            <br>
            <ion-text class="map-text" style="font-size: 23px;"><strong>Carte</strong></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-text class="ser-text" style="font-size: 42px;"><strong>Services</strong></ion-text>
      </ion-row>
      <br>
        <ion-row>
          <ion-col>
            <ion-button class="truck-but" shape="round" href="/location" color="success">
              <ion-img class="truck-img" src="/assets/truck-256.png"></ion-img>
            </ion-button>
            <ion-text class="cam-text" style="font-size: 23px;"><strong>Camion</strong></ion-text>
          </ion-col>

          <ion-col>
            <ion-button class='cont-but' shape="round" href='/reserve'color="success">
              <ion-img class="cont-img" src="/assets/container.png"></ion-img>
            </ion-button>
            <br>
            <ion-text class="con-text" style="font-size: 23px;"><strong>Conteneur</strong></ion-text>
          </ion-col>
        </ion-row>

        <br><br><br><br><br>
        <h2 class= 'h2' style="font-size: 33px;"><strong>Découvrez notre guide de tri et notre savoir-faire</strong></h2>
        <ion-row>
          <ion-col>
            <ion-button class="guide-but" shape="round" href="/guide" color="success">
              <ion-img class="truck-img" src="../../assets/slider/5.png"></ion-img>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>



</div>



</div>

<div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/home" style="font-size: 25px;">
      <ion-icon class="menu" name="home-outline"></ion-icon>
     
    </ion-tab-button>

    <ion-tab-button href="/map" style="font-size: 25px;">
      <ion-icon class="menu" name="location-outline"></ion-icon>
     
    </ion-tab-button>

    <ion-tab-button>

      <a href="/calendrier" style="font-size: 25px;">
      <ion-icon class="menu" name="calendar-outline"></ion-icon>
    </a>
    </ion-tab-button>

   
    <ion-tab-button style="font-size: 25px;">
     <a href="/adam">
      <ion-icon class="menu" name="settings-outline"></ion-icon>
    </a>
    </ion-tab-button>
  


  </ion-tab-bar>

</div>

</ion-content>
